@require "node_modules/stylobate"
rem = rem_px;

@require "node_modules/stylobate-islands"
set-skin-namespace("islands");

@require "src/_reset"
@require "src/_notification"
@require "src/_colorpanel"
@require "src/_elementspath"
@require "src/_mainui"
@require "src/_resizer"
@require "src/_toolbar"
@require "src/_menu"
@require "src/_panel"
@require "src/_combo"
@require "src/_pastefile"

@require "src/editor"

@require "src/_content"
