.cke_panel
  skin: popup

  visibility: visible
  overflow: hidden
  outline: none
  width: 120px
  height: 100px

.cke_menu_panel
  padding: 0
  margin: 0

.cke_combopanel
  width: 150px
  height: 170px

.cke_panel_frame
  width: 100%
  height: 100%
  font-size: 12px
  overflow: auto
  overflow-x: hidden

  & .cke_menubutton_label
    display: none

.cke_panel_container
  overflow-y: auto
  overflow-x: hidden

.cke_panel_list
  list-style-type: none
  margin: 3px
  padding: 0
  white-space: nowrap

.cke_panel_listItem
  margin: 0
  padding-bottom: 1px

  & a
    font-family: Arial, sans-serif
    padding: 3px 4px
    display: block
    border: 1px solid #fff
    color: inherit !important
    text-decoration: none
    overflow: hidden
    text-overflow: ellipsis
    border-radius: 2px

  &.cke_selected
    & a
      border: 1px solid #dedede
      background-color: #f2f2f2
      box-shadow: 0 0 2px rgba(#000, .1) inset

.cke_panel_listItem
  & a
    border-style: none

    &:hover,
    &:focus,
    &:active
      border-color: #dedede
      background-color: #f2f2f2
      box-shadow: 0 0 2px rgba(#000,.1) inset

      .cke_hc &
        border: 2px solid
        padding: 1px 2px

.cke_panel_grouptitle
  cursor: default
  font: 11px/1 Arial, sans-serif
  white-space: nowrap
  margin: 0
  padding: 4px 6px
  border-bottom: 1px solid #b6b6b6

.cke_panel_listItem
  & p,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & pre
    margin-top: 0px
    margin-bottom: 0px
