.cke_resizer
  width: 0
  height: 0
  overflow: hidden
  width: 0
  height: 0
  overflow: hidden
  border-width: 10px 10px 0 0
  border-color: transparent #666 transparent transparent
  border-style: dashed solid dashed dashed
  font-size: 0
  vertical-align: bottom
  margin-top: 8px
  margin-bottom: 2px
  box-shadow: 0 1px 0 rgba(#fff,.3)

.cke_resizer_ltr
  cursor: se-resize
  float: right
  margin-right: -4px

.cke_resizer_rtl
  border-width: 10px 0 0 10px
  border-color: transparent transparent transparent #A5A5A5
  border-style: dashed dashed dashed solid
  cursor: sw-resize
  float: left
  margin-left: -4px
  right: auto
