.cke_combo
  display: inline-block
  float: left
  margin: 0 6px 5px 0

  .cke_rtl &
    float: right

.cke_combo_label
  display: none
  float: left
  line-height: 26px
  vertical-align: top
  margin-right: 5px

  .cke_rtl &
    float: right
    margin-left: 5px
    margin-right: 0

.cke_combo_text
  line-height: 17px
  padding-left: 8px
  text-overflow: ellipsis
  overflow: hidden
  float: left
  cursor: pointer
  max-width: 70px
  white-space: nowrap
  vertical-align: middle
  margin-top: 1px

  .cke_button_icon + &
    padding-left: 3px

  .cke_rtl &
    float: right
    text-align: right
    padding-left: 0
    padding-right: 10px

.cke_combo_open
  cursor: pointer
  display: inline-block
  font-size: 0
  height: 24px
  line-height: 20px
  margin: 0px 7px
  width: 10px
  float: left
