.cke_editor_maximized
  & .ui-dialog
    position: fixed

.cke_reset
  margin 0
  padding 0
  border 0
  background transparent
  text-decoration none
  width auto
  height auto
  vertical-align baseline
  box-sizing content-box
  position static
  transition none

.cke_reset_all, .cke_reset_all *,
.cke_reset_all a, .cke_reset_all textarea
  margin 0
  padding 0
  border 0
  background transparent
  text-decoration none
  width auto
  height auto
  vertical-align baseline
  box-sizing content-box
  position static
  transition none
  border-collapse collapse
  font normal normal normal 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif
  color #000
  text-align left
  white-space nowrap
  cursor auto
  float none

.cke_reset_all
  .cke_rtl
    *
      text-align right
  iframe
    vertical-align inherit
  textarea
    white-space pre-wrap
  fieldset
    padding 10px
    border 2px groove #E0DFE3
  select
    box-sizing border-box
  table
    table-layout auto

.cke_reset_all textarea,
.cke_reset_all input[type="text"],
.cke_reset_all input[type="password"]
  cursor text

.cke_reset_all textarea[disabled],
.cke_reset_all input[type="text"][disabled],
.cke_reset_all input[type="password"][disabled]
  cursor default

.cke_chrome
  display block
  border 1px solid #b6b6b6
  padding 0
  box-shadow 0 0 3px rgba(0,0,0,.15)
  visibility inherit

.cke_inner
  display block
  -webkit-touch-callout none
  background #fff
  padding 0

.cke_float
  border none
  .cke_inner
    padding-bottom 0
  .cke_top
    border 1px solid #b6b6b6
    border-bottom-color #999

.cke_top,
.cke_contents,
.cke_bottom
  display block
  overflow hidden

.cke_top
  font: $islands_text_s/1.5 Arial, sans-serif
  padding: 0
  white-space: normal
  cursor: default
  display: flex
  flex-direction: column
  margin-bottom: 10px

  .cke_maximized &
    padding: 6px 8px 2px

.cke_bottom
  font: $islands_text_s/1.5 Arial, sans-serif
  padding: 0px 8px
  position relative

.cke_browser_ios
  .cke_contents
    overflow-y auto
    -webkit-overflow-scrolling touch

.cke_resizer
  width 0
  height 0
  overflow hidden
  width 0
  height 0
  overflow hidden
  border-width 10px 10px 0 0
  border-color transparent #666 transparent transparent
  border-style dashed solid dashed dashed
  font-size 0
  vertical-align bottom
  margin-top 8px
  margin-bottom 2px
  box-shadow 0 1px 0 rgba(255,255,255,.3)


.cke_resizer_ltr
  cursor se-resize
  float right
  margin-right -4px

.cke_resizer_rtl
  border-width 10px 0 0 10px
  border-color transparent transparent transparent #A5A5A5
  border-style dashed dashed dashed solid
  cursor sw-resize
  float left
  margin-left -4px
  right auto

.cke_wysiwyg_div
  display block
  height 100%
  overflow auto
  padding: 0
  outline-style none
  box-sizing border-box

  .cke_maximized &
    padding: 0 10px

.cke_panel
  visibility visible
  width 120px
  height 100px
  overflow hidden
  background-color #fff
  border 1px solid #b6b6b6
  border-bottom-color #999
  border-radius 3px
  box-shadow 0 0 3px rgba(0,0,0,.15)

.cke_menu_panel
  padding 0
  margin 0

.cke_combopanel
  width 150px
  height 170px

.cke_panel_frame
  width 100%
  height 100%
  font-size 12px
  overflow auto
  overflow-x hidden
  .cke_menubutton_label
    display none

.cke_panel_container
  overflow-y auto
  overflow-x hidden

.cke_panel_list
  list-style-type none
  margin 3px
  padding 0
  white-space nowrap

.cke_panel_listItem
  margin 0
  padding-bottom 1px
  a
    padding 3px 4px
    display block
    border 1px solid #fff
    color inherit !important
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    border-radius 2px
  &.cke_selected
    a
      border 1px solid #dedede
      background-color #f2f2f2
      box-shadow 0 0 2px rgba(0,0,0,.1) inset

*
  html
    .cke_panel_listItem
      a
        width 100%
        color #000

*:first-child
  & + html
    .cke_panel_listItem
      a
        color #000

.cke_panel_listItem a:hover,
.cke_panel_listItem a:focus,
.cke_panel_listItem a:active
  border-color #dedede
  background-color #f2f2f2
  box-shadow 0 0 2px rgba(0,0,0,.1) inset

.cke_panel_grouptitle
  cursor default
  font-size 11px
  font-weight bold
  white-space nowrap
  margin 0
  padding 4px 6px
  color #474747
  text-shadow 0 1px 0 rgba(255,255,255,.75)
  border-bottom 1px solid #b6b6b6
  border-radius 2px 2px 0 0
  box-shadow 0 1px 0 #fff inset
  background #cfd1cf
  background-image linear-gradient(to bottom, #f5f5f5, #cfd1cf)

.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6,
.cke_panel_listItem pre
  margin-top 0px
  margin-bottom 0px

.cke_colorblock
  padding 3px
  font-size 11px
  font-family 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif

.cke_colorblock,
.cke_colorblock a
  text-decoration none
  color #000

span
  &.cke_colorbox
    width 10px
    height 10px
    border #808080 1px solid
    float left

.cke_rtl
  span
    &.cke_colorbox
      float right
  a
    &.cke_colorbox
      float right
  .cke_toolbar
    float right
  .cke_toolgroup
    float right
    margin-left 6px
    margin-right 0
  .cke_button
    float right
  .cke_button_icon
    float right
  .cke_button_label
    padding-right 3px
    padding-left 0
    float right
  .cke_button_arrow
    margin-right 5px
    margin-left 0
  .cke_toolbar_separator
    float right
    box-shadow -1px 0 1px rgba(255,255,255,.1)
  .cke_toolbar_break
    clear right
  .cke_toolbox_collapser
    float left
  .cke_menuarrow
    background-position 5px -13px
    background-repeat no-repeat
  .cke_combo
    float right
  .cke_combo_label
    float right
    margin-left 5px
    margin-right 0
  .cke_combo_button
    float right
    margin-left 5px
    margin-right 0
  .cke_combo_text
    float right
    text-align right
    padding-left 0
    padding-right 10px

a
  &.cke_colorbox
    border #fff 1px solid
    padding 2px
    float left
    width 12px
    height 12px

  &.cke_button
    color: rgba(#000, 0.5)
    display: inline-block
    height: 16px
    padding: 2px
    outline: none
    cursor: pointer
    float: left
    border: 0
    border-radius: 2px

    &:hover
      color: #000

  &.cke_button_on
    box-shadow: inset 30px 30px 0px 30px #ffeba0
    background: #ffeba0

  &.cke_toolbox_collapser
    width 12px
    height 11px
    float right
    margin 11px 0 0
    font-size 0
    cursor default
    text-align center
    border 1px solid #a6a6a6
    border-bottom-color #979797
    border-radius 3px
    box-shadow 0 1px 0 rgba(255,255,255,.5), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset
    background #e4e4e4
    background-image linear-gradient(to bottom, #ffffff, #e4e4e4)

  &.cke_combo_button
    color: rgba(#000, 0.5)
    cursor: pointer
    display: inline-block
    float: left
    margin: 0 6px 5px 0

    &:hover
      color: #000

a:hover.cke_colorbox,
a:focus.cke_colorbox,
a:active.cke_colorbox
  border #b6b6b6 1px solid
  background-color #e5e5e5

a.cke_colorauto,
a.cke_colormore
  border #fff 1px solid
  padding 2px
  display block
  cursor pointer

a:hover.cke_colorauto,
a:hover.cke_colormore,
a:focus.cke_colorauto,
a:focus.cke_colormore,
a:active.cke_colorauto,
a:active.cke_colormore
  border #b6b6b6 1px solid
  background-color #e5e5e5

.cke_toolbar
  float left

  //&:last-child
  //  .cke_toolbox &
  //    float: right

.cke_toolgroup
  float left
  margin 0 6px 5px 0

.cke_button_disabled,
.cke_combo_disabled > .cke_combo_button
  color: rgba(#000, 0.15) !important
  pointer-events: none

a.cke_button_on
  &:hover,
  &:focus,
  &:active
    box-shadow: inset 30px 30px 0px 30px #ffeba0
    background: #ffeba0

.cke_button_icon
  cursor inherit
  background-repeat no-repeat
  margin-top 1px
  width 16px
  height 16px
  float left
  display inline-block

.cke_button_label
  display none
  padding-left 3px
  margin-top 1px
  line-height 17px
  vertical-align middle
  float left
  cursor default
  color #474747
  text-shadow 0 1px 0 rgba(255,255,255,.5)

.cke_button_arrow,
.cke_combo_arrow
  skin: islands-icon _arrow \
        (width 1px) (size 8px) \
        with-transition
  margin-top: -0.9em

.cke_button_arrow
  margin-left: 2px

.cke_button_on
  & .cke_button_arrow
    skin: islands-icon_arrow-direction top (offset-y 4px)

.cke_combo_on
  & .cke_combo_arrow
    skin: islands-icon_arrow-direction top (offset-y 4px)


.cke_toolbar_separator
  float left
  background-color #c0c0c0
  background-color rgba(0,0,0,.2)
  margin 5px 2px 0
  height 18px
  width 1px
  box-shadow 1px 0 1px rgba(255,255,255,.5)

.cke_toolbar_break
  display block
  clear left

.cke_toolbox_collapser
  &:hover
    background #ccc
    background-image linear-gradient(to bottom, #f2f2f2, #ccc)
  &.cke_toolbox_collapser_min
    margin 0 2px 4px
    .cke_arrow
      margin-top 4px
      border-bottom-color transparent
      border-top-color #474747
  .cke_arrow
    display inline-block
    height 0
    width 0
    font-size 0
    margin-top 1px
    border-left 3px solid transparent
    border-right 3px solid transparent
    border-bottom 3px solid #474747
    border-top 3px solid transparent

.cke_menubutton
  display block

.cke_menuitem
  span
    cursor default

.cke_menubutton:hover,
.cke_menubutton:focus,
.cke_menubutton:active
  background-color #D3D3D3
  display block
  background-color #EFF0EF

.cke_menubutton_inner
  display table-row

.cke_menubutton_icon,
.cke_menubutton_label,
.cke_menuarrow
  display table-cell

.cke_menubutton_icon
  background-color #D7D8D7
  opacity 0.70
  padding 4px

.cke_menubutton:hover .cke_menubutton_icon,
.cke_menubutton:focus .cke_menubutton_icon,
.cke_menubutton:active .cke_menubutton_icon
  background-color #D0D2D0

.cke_menubutton_disabled:hover .cke_menubutton_icon,
.cke_menubutton_disabled:focus .cke_menubutton_icon,
.cke_menubutton_disabled:active .cke_menubutton_icon
  opacity 0.3

.cke_menubutton_label
  padding 0 5px
  background-color transparent
  width 100%
  vertical-align middle

.cke_menubutton_disabled
  .cke_menubutton_label
    opacity 0.3

.cke_menubutton_on
  border 1px solid #dedede
  background-color #f2f2f2
  box-shadow 0 0 2px rgba(0,0,0,.1) inset
  .cke_menubutton_icon
    padding-right 3px

.cke_menuseparator
  background-color #D3D3D3
  height 1px
  opacity 0.70

.cke_menuarrow
  background-image url(images/arrow.png)
  background-position 0 10px
  background-repeat no-repeat
  padding 0 5px
  span
    display none

.cke_combo
  display inline-block
  float left

.cke_combo_label
  display none
  float left
  line-height 26px
  vertical-align top
  margin-right 5px

.cke_combo_text
  line-height: 24px
  padding-left: 8px
  text-overflow: ellipsis
  overflow: hidden
  float: left
  cursor: pointer
  max-width: 70px
  white-space: nowrap

.cke_combo_open
  cursor: pointer
  display: inline-block
  font-size: 0
  height: 24px
  line-height: 20px
  margin: 0px 7px
  width: 10px
  float: left

.cke_path
  float left
  margin -2px 0 2px

a.cke_path_item,
span.cke_path_empty
  display inline-block
  float left
  padding 3px 4px
  margin-right 2px
  cursor default
  text-decoration none
  outline 0
  border 0
  color #4c4c4c
  text-shadow 0 1px 0 #fff
  font-weight bold
  font-size 11px

.cke_rtl .cke_path,
.cke_rtl .cke_path_item,
.cke_rtl .cke_path_empty
  float right

a.cke_path_item:hover,
a.cke_path_item:focus,
a.cke_path_item:active
  background-color #bfbfbf
  color #333
  text-shadow 0 1px 0 rgba(255,255,255,.5)
  border-radius 2px
  box-shadow 0 0 4px rgba(0,0,0,.5) inset, 0 1px 0 rgba(255,255,255,.5)


.cke_button__source_label,
.cke_button__sourcedialog_label
  display inline

.cke_combopanel__fontsize
  width 120px

.cke_wysiwyg_frame, .cke_wysiwyg_div
  background-color #fff

.cke_notifications_area
  pointer-events none

.cke_notification
  pointer-events auto
  position relative
  margin 10px
  width 300px
  color white
  border-radius 3px
  text-align center
  opacity 0.95
  box-shadow 2px 2px 3px 0px rgba(50, 50, 50, 0.3)
  -webkit-animation fadeIn 0.7s
  animation fadeIn 0.7s

.cke_notification_message
  position relative
  margin 4px 23px 3px
  font-family Arial, Helvetica, sans-serif
  font-size 12px
  line-height 18px
  z-index 4
  text-overflow ellipsis
  overflow hidden
  a
    color #12306F

@keyframes fadeIn {
  from {
    opacity 0.4
  }
  to {
    opacity: 0.95;
  }
}


.cke_notification_success
  background #72B572
  border 1px solid #63A563

.cke_notification_warning
  background #C83939
  border 1px solid #902B2B
  a
    &.cke_notification_close
      opacity 0.8
      &:hover
        opacity 1

.cke_notification_info
  background #2E9AD0
  border 1px solid #0F74A8
  span
    &.cke_notification_progress
      background-color #0F74A8
      display block
      padding 0
      margin 0
      height 100%
      overflow hidden
      position absolute
      z-index 1

.cke_notification_close
  background-image url(images/close.png)
  background-repeat no-repeat
  background-position 50%
  position absolute
  cursor pointer
  text-align center
  height 20px
  width 20px
  top 1px
  right 1px
  padding 0
  margin 0
  z-index 5
  opacity 0.6
  &:hover
    opacity 1
  span
    display none

.cke_voice_label
  display none

legend
  &.cke_voice_label
    display none



.cke_contents_wrap
  position: relative

.cke_pasteimage_placeholder:after,
.cke_pastefile_placeholder:before
  content: attr(data-cke-pastefile-placeholder)
  display: flex
  justify-content: center
  align-items: center
  font: 33px Arial, sans-serif
  color: rgba(#000, 0.4)
  background-color: rgba(#fff, 0.6)
  border: 4px dashed rgba(#000, 0.2)
  pointer-events: none
  z-index: 99

.cke_pasteimage_placeholder:after
  position: absolute
  top: -5px
  right: -5px
  left: -10px
  bottom: -5px

  .cke_maximized &
    left: 0
    right: 0
    display: flex !important

.cke_pastefile_placeholder
  &:before
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

  &.cke_pasteimage_placeholder:after
    background-color: transparent

  & .cke_pasteimage_placeholder:after
    background-color: transparent
    border-color: rgba(#000, 0.7)
    color: rgba(#000, 1)

.js-pastefile-compose
  &.cke_pastefile_placeholder:before
    margin: -10px 0
    position: absolute

  & .cke_pasteimage_placeholder:after
    display: none

.mail-ComposeSidebar-Popup
  & .mail-Compose
    &.cke_pastefile_placeholder:before
      margin: 0 0 -10px 0

.cke_pastefile_loader
  &:before
    content: ""
    pointer-events: none
    z-index: 99
    position: absolute
    display: block
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgba(#fff, 0.6) url("data:image/svg+xml;utf8,%3Csvg%20width=%2728px%27%20height=%2728px%27%20viewBox=%270%200%2028%2028%27%20xmlns=%27http%3A//www.w3.org/2000/svg%27%3E%3Ccircle%20fill=%27none%27%20stroke-width=%272%27%20stroke-dashoffset=%2781.68%27%20stroke-dasharray=%2740.84%27%20stroke=%27%23fc0%27%20cx=%2714%27%20cy=%2714%27%20r=%2713%27%3E%3Canimate%20attributeName=%27stroke-dashoffset%27%20from=%2781.68%27%20to=%270%27%20dur=%271s%27%20repeatCount=%27indefinite%27%20/%3E%3C/circle%3E%3C/svg%3E") no-repeat center center





.cke_button__bold_icon
  background url(icons.png) no-repeat 0 -0px !important

.cke_button__italic_icon
  background url(icons.png) no-repeat 0 -24px !important

.cke_button__strike_icon
  background url(icons.png) no-repeat 0 -48px !important

.cke_button__subscript_icon
  background url(icons.png) no-repeat 0 -72px !important

.cke_button__superscript_icon
  background url(icons.png) no-repeat 0 -96px !important

.cke_button__underline_icon
  background url(icons.png) no-repeat 0 -120px !important

.cke_button__bidiltr_icon
  background url(icons.png) no-repeat 0 -144px !important

.cke_button__bidirtl_icon
  background url(icons.png) no-repeat 0 -168px !important

.cke_button__blockquote_icon
  background url(icons.png) no-repeat 0 -192px !important

.cke_rtl .cke_button__copy_icon, .cke_mixed_dir_content .cke_rtl .cke_button__copy_icon
  background url(icons.png) no-repeat 0 -216px !important

.cke_ltr
  .cke_button__copy_icon
    background url(icons.png) no-repeat 0 -240px !important
  .cke_button__cut_icon
    background url(icons.png) no-repeat 0 -288px !important
  .cke_button__paste_icon
    background url(icons.png) no-repeat 0 -336px !important
  .cke_button__indent_icon
    background url(icons.png) no-repeat 0 -432px !important
  .cke_button__outdent_icon
    background url(icons.png) no-repeat 0 -480px !important
  .cke_button__anchor_icon
    background url(icons.png) no-repeat 0 -624px !important
  .cke_button__bulletedlist_icon
    background url(icons.png) no-repeat 0 -720px !important
  .cke_button__numberedlist_icon
    background url(icons.png) no-repeat 0 -768px !important
  .cke_button__source_icon
    background url(icons.png) no-repeat 0 -864px !important
  .cke_button__redo_icon
    background url(icons.png) no-repeat 0 -936px !important
  .cke_button__undo_icon
    background url(icons.png) no-repeat 0 -984px !important

.cke_rtl .cke_button__cut_icon, .cke_mixed_dir_content .cke_rtl .cke_button__cut_icon
  background url(icons.png) no-repeat 0 -264px !important

.cke_rtl .cke_button__paste_icon, .cke_mixed_dir_content .cke_rtl .cke_button__paste_icon
  background url(icons.png) no-repeat 0 -312px !important

.cke_button__bgcolor_icon
  background url(icons.png) no-repeat 0 -360px !important

.cke_button__textcolor_icon
  background url(icons.png) no-repeat 0 -384px !important

.cke_rtl .cke_button__indent_icon, .cke_mixed_dir_content .cke_rtl .cke_button__indent_icon
  background url(icons.png) no-repeat 0 -408px !important

.cke_rtl .cke_button__outdent_icon, .cke_mixed_dir_content .cke_rtl .cke_button__outdent_icon
  background url(icons.png) no-repeat 0 -456px !important

.cke_button__justifyblock_icon
  background url(icons.png) no-repeat 0 -504px !important

.cke_button__justifycenter_icon
  background url(icons.png) no-repeat 0 -528px !important

.cke_button__justifyleft_icon
  background url(icons.png) no-repeat 0 -552px !important

.cke_button__justifyright_icon
  background url(icons.png) no-repeat 0 -576px !important

.cke_rtl .cke_button__anchor_icon, .cke_mixed_dir_content .cke_rtl .cke_button__anchor_icon
  background url(icons.png) no-repeat 0 -600px !important

.cke_button__link_icon
  background url(icons.png) no-repeat 0 -648px !important

.cke_button__unlink_icon
  background url(icons.png) no-repeat 0 -672px !important

.cke_rtl .cke_button__bulletedlist_icon, .cke_mixed_dir_content .cke_rtl .cke_button__bulletedlist_icon
  background url(icons.png) no-repeat 0 -696px !important

.cke_rtl .cke_button__numberedlist_icon, .cke_mixed_dir_content .cke_rtl .cke_button__numberedlist_icon
  background url(icons.png) no-repeat 0 -744px !important

.cke_button__maximize_icon
  background url(icons.png) no-repeat 0 -792px !important

.cke_button__removeformat_icon
  background url(icons.png) no-repeat 0 -816px !important

.cke_rtl .cke_button__source_icon, .cke_mixed_dir_content .cke_rtl .cke_button__source_icon
  background url(icons.png) no-repeat 0 -840px !important

.cke_button__table_icon
  background url(icons.png) no-repeat 0 -888px !important

.cke_rtl .cke_button__redo_icon, .cke_mixed_dir_content .cke_rtl .cke_button__redo_icon
  background url(icons.png) no-repeat 0 -912px !important

.cke_rtl .cke_button__undo_icon, .cke_mixed_dir_content .cke_rtl .cke_button__undo_icon
  background url(icons.png) no-repeat 0 -960px !important

.cke_hidpi
  .cke_button__bold_icon
    background url(icons_hidpi.png) no-repeat 0 -0px !important
    background-size 16px !important
  .cke_button__italic_icon
    background url(icons_hidpi.png) no-repeat 0 -24px !important
    background-size 16px !important
  .cke_button__strike_icon
    background url(icons_hidpi.png) no-repeat 0 -48px !important
    background-size 16px !important
  .cke_button__subscript_icon
    background url(icons_hidpi.png) no-repeat 0 -72px !important
    background-size 16px !important
  .cke_button__superscript_icon
    background url(icons_hidpi.png) no-repeat 0 -96px !important
    background-size 16px !important
  .cke_button__underline_icon
    background url(icons_hidpi.png) no-repeat 0 -120px !important
    background-size 16px !important
  .cke_button__bidiltr_icon
    background url(icons_hidpi.png) no-repeat 0 -144px !important
    background-size 16px !important
  .cke_button__bidirtl_icon
    background url(icons_hidpi.png) no-repeat 0 -168px !important
    background-size 16px !important
  .cke_button__blockquote_icon
    background url(icons_hidpi.png) no-repeat 0 -192px !important
    background-size 16px !important
  .cke_button__bgcolor_icon
    background url(icons_hidpi.png) no-repeat 0 -360px !important
    background-size 16px !important
  .cke_button__textcolor_icon
    background url(icons_hidpi.png) no-repeat 0 -384px !important
    background-size 16px !important
  .cke_button__justifyblock_icon
    background url(icons_hidpi.png) no-repeat 0 -504px !important
    background-size 16px !important
  .cke_button__justifycenter_icon
    background url(icons_hidpi.png) no-repeat 0 -528px !important
    background-size 16px !important
  .cke_button__justifyleft_icon
    background url(icons_hidpi.png) no-repeat 0 -552px !important
    background-size 16px !important
  .cke_button__justifyright_icon
    background url(icons_hidpi.png) no-repeat 0 -576px !important
    background-size 16px !important
  .cke_button__link_icon
    background url(icons_hidpi.png) no-repeat 0 -648px !important
    background-size 16px !important
  .cke_button__unlink_icon
    background url(icons_hidpi.png) no-repeat 0 -672px !important
    background-size 16px !important
  .cke_button__maximize_icon
    background url(icons_hidpi.png) no-repeat 0 -792px !important
    background-size 16px !important
  .cke_button__removeformat_icon
    background url(icons_hidpi.png) no-repeat 0 -816px !important
    background-size 16px !important
  .cke_button__table_icon
    background url(icons_hidpi.png) no-repeat 0 -888px !important
    background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__copy_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__copy_icon
  background url(icons_hidpi.png) no-repeat 0 -216px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__copy_icon,
.cke_ltr.cke_hidpi .cke_button__copy_icon
  background url(icons_hidpi.png) no-repeat 0 -240px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__cut_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__cut_icon
  background url(icons_hidpi.png) no-repeat 0 -264px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__cut_icon,
.cke_ltr.cke_hidpi .cke_button__cut_icon
  background url(icons_hidpi.png) no-repeat 0 -288px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__paste_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__paste_icon
  background url(icons_hidpi.png) no-repeat 0 -312px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__paste_icon,
.cke_ltr.cke_hidpi .cke_button__paste_icon
  background url(icons_hidpi.png) no-repeat 0 -336px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__indent_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__indent_icon
  background url(icons_hidpi.png) no-repeat 0 -408px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__indent_icon,
.cke_ltr.cke_hidpi .cke_button__indent_icon
  background url(icons_hidpi.png) no-repeat 0 -432px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__outdent_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__outdent_icon
  background url(icons_hidpi.png) no-repeat 0 -456px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__outdent_icon,
.cke_ltr.cke_hidpi .cke_button__outdent_icon
  background url(icons_hidpi.png) no-repeat 0 -480px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__anchor_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__anchor_icon
  background url(icons_hidpi.png) no-repeat 0 -600px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__anchor_icon,
.cke_ltr.cke_hidpi .cke_button__anchor_icon
  background url(icons_hidpi.png) no-repeat 0 -624px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__bulletedlist_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__bulletedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -696px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__bulletedlist_icon,
.cke_ltr.cke_hidpi .cke_button__bulletedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -720px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__numberedlist_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__numberedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -744px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__numberedlist_icon,
.cke_ltr.cke_hidpi .cke_button__numberedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -768px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__source_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__source_icon
  background url(icons_hidpi.png) no-repeat 0 -840px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__source_icon,
.cke_ltr.cke_hidpi .cke_button__source_icon
  background url(icons_hidpi.png) no-repeat 0 -864px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__redo_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__redo_icon
  background url(icons_hidpi.png) no-repeat 0 -912px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__redo_icon,
.cke_ltr.cke_hidpi .cke_button__redo_icon
  background url(icons_hidpi.png) no-repeat 0 -936px !important
  background-size 16px !important

.cke_rtl.cke_hidpi .cke_button__undo_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__undo_icon
  background url(icons_hidpi.png) no-repeat 0 -960px !important
  background-size 16px !important

.cke_hidpi .cke_ltr .cke_button__undo_icon,
.cke_ltr.cke_hidpi .cke_button__undo_icon
  background url(icons_hidpi.png) no-repeat 0 -984px !important
  background-size 16px !important
