@require "_reset"
@require "_notification"
@require "_colorpanel"
@require "_elementspath"
@require "_mainui"
@require "_resizer"
@require "_toolbar"
@require "_menu"
@require "_pastefile"

.cke_editor_maximized
  & .ui-dialog
    position: fixed

.cke_panel
  visibility visible
  width 120px
  height 100px
  overflow hidden
  background-color #fff
  border 1px solid #b6b6b6
  border-bottom-color #999
  border-radius 3px
  box-shadow 0 0 3px rgba(0,0,0,.15)

.cke_menu_panel
  padding 0
  margin 0

.cke_combopanel
  width 150px
  height 170px

.cke_panel_frame
  width 100%
  height 100%
  font-size 12px
  overflow auto
  overflow-x hidden
  .cke_menubutton_label
    display none

.cke_panel_container
  overflow-y auto
  overflow-x hidden

.cke_panel_list
  list-style-type none
  margin 3px
  padding 0
  white-space nowrap

.cke_panel_listItem
  margin 0
  padding-bottom 1px
  a
    padding 3px 4px
    display block
    border 1px solid #fff
    color inherit !requireant
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    border-radius 2px
  &.cke_selected
    a
      border 1px solid #dedede
      background-color #f2f2f2
      box-shadow 0 0 2px rgba(0,0,0,.1) inset

*
  html
    .cke_panel_listItem
      a
        width 100%
        color #000

*:first-child
  & + html
    .cke_panel_listItem
      a
        color #000

.cke_panel_listItem a:hover,
.cke_panel_listItem a:focus,
.cke_panel_listItem a:active
  border-color #dedede
  background-color #f2f2f2
  box-shadow 0 0 2px rgba(0,0,0,.1) inset

.cke_panel_grouptitle
  cursor default
  font-size 11px
  font-weight bold
  white-space nowrap
  margin 0
  padding 4px 6px
  color #474747
  text-shadow 0 1px 0 rgba(255,255,255,.75)
  border-bottom 1px solid #b6b6b6
  border-radius 2px 2px 0 0
  box-shadow 0 1px 0 #fff inset
  background #cfd1cf
  background-image linear-gradient(to bottom, #f5f5f5, #cfd1cf)

.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6,
.cke_panel_listItem pre
  margin-top 0px
  margin-bottom 0px


.cke_rtl
  .cke_combo
    float right
  .cke_combo_label
    float right
    margin-left 5px
    margin-right 0

  .cke_combo_text
    float right
    text-align right
    padding-left 0
    padding-right 10px







.cke_combo
  display inline-block
  float left

.cke_combo_label
  display none
  float left
  line-height 26px
  vertical-align top
  margin-right 5px

.cke_combo_text
  line-height: 24px
  padding-left: 8px
  text-overflow: ellipsis
  overflow: hidden
  float: left
  cursor: pointer
  max-width: 70px
  white-space: nowrap

.cke_combo_open
  cursor: pointer
  display: inline-block
  font-size: 0
  height: 24px
  line-height: 20px
  margin: 0px 7px
  width: 10px
  float: left


.cke_button__source_label,
.cke_button__sourcedialog_label
  display inline

.cke_combopanel__fontsize
  width 120px

.cke_wysiwyg_frame, .cke_wysiwyg_div
  background-color #fff


.cke_voice_label
  display none

legend
  &.cke_voice_label
    display none



.cke_contents_wrap
  position: relative




.cke_button__bold_icon
  background url(icons.png) no-repeat 0 -0px !requireant

.cke_button__italic_icon
  background url(icons.png) no-repeat 0 -24px !requireant

.cke_button__strike_icon
  background url(icons.png) no-repeat 0 -48px !requireant

.cke_button__subscript_icon
  background url(icons.png) no-repeat 0 -72px !requireant

.cke_button__superscript_icon
  background url(icons.png) no-repeat 0 -96px !requireant

.cke_button__underline_icon
  background url(icons.png) no-repeat 0 -120px !requireant

.cke_button__bidiltr_icon
  background url(icons.png) no-repeat 0 -144px !requireant

.cke_button__bidirtl_icon
  background url(icons.png) no-repeat 0 -168px !requireant

.cke_button__blockquote_icon
  background url(icons.png) no-repeat 0 -192px !requireant

.cke_rtl .cke_button__copy_icon, .cke_mixed_dir_content .cke_rtl .cke_button__copy_icon
  background url(icons.png) no-repeat 0 -216px !requireant

.cke_ltr
  .cke_button__copy_icon
    background url(icons.png) no-repeat 0 -240px !requireant
  .cke_button__cut_icon
    background url(icons.png) no-repeat 0 -288px !requireant
  .cke_button__paste_icon
    background url(icons.png) no-repeat 0 -336px !requireant
  .cke_button__indent_icon
    background url(icons.png) no-repeat 0 -432px !requireant
  .cke_button__outdent_icon
    background url(icons.png) no-repeat 0 -480px !requireant
  .cke_button__anchor_icon
    background url(icons.png) no-repeat 0 -624px !requireant
  .cke_button__bulletedlist_icon
    background url(icons.png) no-repeat 0 -720px !requireant
  .cke_button__numberedlist_icon
    background url(icons.png) no-repeat 0 -768px !requireant
  .cke_button__source_icon
    background url(icons.png) no-repeat 0 -864px !requireant
  .cke_button__redo_icon
    background url(icons.png) no-repeat 0 -936px !requireant
  .cke_button__undo_icon
    background url(icons.png) no-repeat 0 -984px !requireant

.cke_rtl .cke_button__cut_icon, .cke_mixed_dir_content .cke_rtl .cke_button__cut_icon
  background url(icons.png) no-repeat 0 -264px !requireant

.cke_rtl .cke_button__paste_icon, .cke_mixed_dir_content .cke_rtl .cke_button__paste_icon
  background url(icons.png) no-repeat 0 -312px !requireant

.cke_button__bgcolor_icon
  background url(icons.png) no-repeat 0 -360px !requireant

.cke_button__textcolor_icon
  background url(icons.png) no-repeat 0 -384px !requireant

.cke_rtl .cke_button__indent_icon, .cke_mixed_dir_content .cke_rtl .cke_button__indent_icon
  background url(icons.png) no-repeat 0 -408px !requireant

.cke_rtl .cke_button__outdent_icon, .cke_mixed_dir_content .cke_rtl .cke_button__outdent_icon
  background url(icons.png) no-repeat 0 -456px !requireant

.cke_button__justifyblock_icon
  background url(icons.png) no-repeat 0 -504px !requireant

.cke_button__justifycenter_icon
  background url(icons.png) no-repeat 0 -528px !requireant

.cke_button__justifyleft_icon
  background url(icons.png) no-repeat 0 -552px !requireant

.cke_button__justifyright_icon
  background url(icons.png) no-repeat 0 -576px !requireant

.cke_rtl .cke_button__anchor_icon, .cke_mixed_dir_content .cke_rtl .cke_button__anchor_icon
  background url(icons.png) no-repeat 0 -600px !requireant

.cke_button__link_icon
  background url(icons.png) no-repeat 0 -648px !requireant

.cke_button__unlink_icon
  background url(icons.png) no-repeat 0 -672px !requireant

.cke_rtl .cke_button__bulletedlist_icon, .cke_mixed_dir_content .cke_rtl .cke_button__bulletedlist_icon
  background url(icons.png) no-repeat 0 -696px !requireant

.cke_rtl .cke_button__numberedlist_icon, .cke_mixed_dir_content .cke_rtl .cke_button__numberedlist_icon
  background url(icons.png) no-repeat 0 -744px !requireant

.cke_button__maximize_icon
  background url(icons.png) no-repeat 0 -792px !requireant

.cke_button__removeformat_icon
  background url(icons.png) no-repeat 0 -816px !requireant

.cke_rtl .cke_button__source_icon, .cke_mixed_dir_content .cke_rtl .cke_button__source_icon
  background url(icons.png) no-repeat 0 -840px !requireant

.cke_button__table_icon
  background url(icons.png) no-repeat 0 -888px !requireant

.cke_rtl .cke_button__redo_icon, .cke_mixed_dir_content .cke_rtl .cke_button__redo_icon
  background url(icons.png) no-repeat 0 -912px !requireant

.cke_rtl .cke_button__undo_icon, .cke_mixed_dir_content .cke_rtl .cke_button__undo_icon
  background url(icons.png) no-repeat 0 -960px !requireant

.cke_hidpi
  .cke_button__bold_icon
    background url(icons_hidpi.png) no-repeat 0 -0px !requireant
    background-size 16px !requireant
  .cke_button__italic_icon
    background url(icons_hidpi.png) no-repeat 0 -24px !requireant
    background-size 16px !requireant
  .cke_button__strike_icon
    background url(icons_hidpi.png) no-repeat 0 -48px !requireant
    background-size 16px !requireant
  .cke_button__subscript_icon
    background url(icons_hidpi.png) no-repeat 0 -72px !requireant
    background-size 16px !requireant
  .cke_button__superscript_icon
    background url(icons_hidpi.png) no-repeat 0 -96px !requireant
    background-size 16px !requireant
  .cke_button__underline_icon
    background url(icons_hidpi.png) no-repeat 0 -120px !requireant
    background-size 16px !requireant
  .cke_button__bidiltr_icon
    background url(icons_hidpi.png) no-repeat 0 -144px !requireant
    background-size 16px !requireant
  .cke_button__bidirtl_icon
    background url(icons_hidpi.png) no-repeat 0 -168px !requireant
    background-size 16px !requireant
  .cke_button__blockquote_icon
    background url(icons_hidpi.png) no-repeat 0 -192px !requireant
    background-size 16px !requireant
  .cke_button__bgcolor_icon
    background url(icons_hidpi.png) no-repeat 0 -360px !requireant
    background-size 16px !requireant
  .cke_button__textcolor_icon
    background url(icons_hidpi.png) no-repeat 0 -384px !requireant
    background-size 16px !requireant
  .cke_button__justifyblock_icon
    background url(icons_hidpi.png) no-repeat 0 -504px !requireant
    background-size 16px !requireant
  .cke_button__justifycenter_icon
    background url(icons_hidpi.png) no-repeat 0 -528px !requireant
    background-size 16px !requireant
  .cke_button__justifyleft_icon
    background url(icons_hidpi.png) no-repeat 0 -552px !requireant
    background-size 16px !requireant
  .cke_button__justifyright_icon
    background url(icons_hidpi.png) no-repeat 0 -576px !requireant
    background-size 16px !requireant
  .cke_button__link_icon
    background url(icons_hidpi.png) no-repeat 0 -648px !requireant
    background-size 16px !requireant
  .cke_button__unlink_icon
    background url(icons_hidpi.png) no-repeat 0 -672px !requireant
    background-size 16px !requireant
  .cke_button__maximize_icon
    background url(icons_hidpi.png) no-repeat 0 -792px !requireant
    background-size 16px !requireant
  .cke_button__removeformat_icon
    background url(icons_hidpi.png) no-repeat 0 -816px !requireant
    background-size 16px !requireant
  .cke_button__table_icon
    background url(icons_hidpi.png) no-repeat 0 -888px !requireant
    background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__copy_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__copy_icon
  background url(icons_hidpi.png) no-repeat 0 -216px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__copy_icon,
.cke_ltr.cke_hidpi .cke_button__copy_icon
  background url(icons_hidpi.png) no-repeat 0 -240px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__cut_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__cut_icon
  background url(icons_hidpi.png) no-repeat 0 -264px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__cut_icon,
.cke_ltr.cke_hidpi .cke_button__cut_icon
  background url(icons_hidpi.png) no-repeat 0 -288px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__paste_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__paste_icon
  background url(icons_hidpi.png) no-repeat 0 -312px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__paste_icon,
.cke_ltr.cke_hidpi .cke_button__paste_icon
  background url(icons_hidpi.png) no-repeat 0 -336px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__indent_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__indent_icon
  background url(icons_hidpi.png) no-repeat 0 -408px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__indent_icon,
.cke_ltr.cke_hidpi .cke_button__indent_icon
  background url(icons_hidpi.png) no-repeat 0 -432px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__outdent_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__outdent_icon
  background url(icons_hidpi.png) no-repeat 0 -456px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__outdent_icon,
.cke_ltr.cke_hidpi .cke_button__outdent_icon
  background url(icons_hidpi.png) no-repeat 0 -480px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__anchor_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__anchor_icon
  background url(icons_hidpi.png) no-repeat 0 -600px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__anchor_icon,
.cke_ltr.cke_hidpi .cke_button__anchor_icon
  background url(icons_hidpi.png) no-repeat 0 -624px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__bulletedlist_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__bulletedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -696px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__bulletedlist_icon,
.cke_ltr.cke_hidpi .cke_button__bulletedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -720px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__numberedlist_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__numberedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -744px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__numberedlist_icon,
.cke_ltr.cke_hidpi .cke_button__numberedlist_icon
  background url(icons_hidpi.png) no-repeat 0 -768px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__source_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__source_icon
  background url(icons_hidpi.png) no-repeat 0 -840px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__source_icon,
.cke_ltr.cke_hidpi .cke_button__source_icon
  background url(icons_hidpi.png) no-repeat 0 -864px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__redo_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__redo_icon
  background url(icons_hidpi.png) no-repeat 0 -912px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__redo_icon,
.cke_ltr.cke_hidpi .cke_button__redo_icon
  background url(icons_hidpi.png) no-repeat 0 -936px !requireant
  background-size 16px !requireant

.cke_rtl.cke_hidpi .cke_button__undo_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__undo_icon
  background url(icons_hidpi.png) no-repeat 0 -960px !requireant
  background-size 16px !requireant

.cke_hidpi .cke_ltr .cke_button__undo_icon,
.cke_ltr.cke_hidpi .cke_button__undo_icon
  background url(icons_hidpi.png) no-repeat 0 -984px !requireant
  background-size 16px !requireant
