.cke_contents_wrap_translate
  display: flex
  align-items: stretch

.cke_contents_wrap_translate
  & > .cke_contents
    flex-grow: 1
    flex-shrink: 0
    flex-basis: 0
    padding-right: 15px

  & > .cke_translate_wrap
    flex-grow: 1
    flex-shrink: 0
    flex-basis: 0
    position: relative
    overflow: auto
    padding-left: 15px
    background-color: #fff

    &:before
      content: ""
      position: absolute
      display: block
      top: 0
      left: 0
      bottom: 25%
      border-left: 1px solid #ccc

  & .cke_translate_content
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: 0.5
    font: 14px Arial, sans-serif
    line-height: normal
    color: #000
    border: none
    padding: 0
    margin: 0
    margin-left: 15px

.cke_translate_header
  position: relative
  display: flex
  justify-content: center
  text-transform: uppercase
  color: #999
  margin: 13px 0 10px 0

.cke_translate_header_info
  position: absolute
  right: 0
  color: #999

  &:hover
    color: #000

.cke_translate_header_from
  flex-grow: 1
  flex-shrink: 0
  flex-basis: 0
  text-align: right
  margin-right: 15px

.cke_translate_header_to
  flex-grow: 1
  flex-shrink: 0
  flex-basis: 0
  margin-left: 15px

.cke_translate_lang
  cursor: pointer
  padding: 6px 8px

  &:hover,
  &.is-active
    background-color: rgba(#000, 0.05)
    color: #000

.cke_translate_spinner:after
  content: ""
  display: block
  position: absolute
  left: 72%
  right: 28%
  top: 50%
  bottom: 50%
  border-radius 50%
  width 32px
  height 32px
  overflow hidden
  text-indent -9999em
  border-top 2px solid transparent
  border-right 2px solid transparent
  border-bottom 2px solid #FFDC4F
  border-left 2px solid #FFDC4F
  animation translate_spinner 1s infinite linear

@keyframes translate_spinner {
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}
