[submodule "plugins/imgresize"]
    path = plugins/imgresize
    url = https://github.com/yandex-ui/ckeditor-imgresize.git
[submodule "plugins/autolink2"]
    path = plugins/autolink2
    url = https://github.com/yandex-ui/ckeditor-autolink2.git
[submodule "plugins/openlink"]
    path = plugins/openlink
    url = https://github.com/yandex-ui/ckeditor-openlink.git
[submodule "plugins/xss"]
    path = plugins/xss
    url = https://github.com/yandex-ui/ckeditor-xss.git
[submodule "plugins/exbutton"]
    path = plugins/exbutton
    url = https://github.com/yandex-ui/ckeditor-exbutton.git
[submodule "plugins/pastefile"]
    path = plugins/pastefile
    url = https://github.com/yandex-ui/ckeditor-pastefile.git
[submodule "plugins/quotebreak"]
    path = plugins/quotebreak
    url = https://github.com/yandex-ui/ckeditor-quotebreak.git
[submodule "plugins/prettydrop"]
    path = plugins/prettydrop
    url = https://github.com/yandex-ui/ckeditor-prettydrop.git
[submodule "plugins/exselection"]
	path = plugins/exselection
	url = https://github.com/yandex-ui/ckeditor-exselection.git
[submodule "plugins/svgicons"]
	path = plugins/svgicons
	url = https://github.com/yandex-ui/ckeditor-svgicons.git
[submodule "plugins/switchmode"]
	path = plugins/switchmode
	url = https://github.com/yandex-ui/ckeditor-switchmode.git
[submodule "plugins/htmlplaceholder"]
	path = plugins/htmlplaceholder
	url = https://github.com/yandex-ui/ckeditor-htmlplaceholder.git
[submodule "plugins/translate"]
	path = plugins/translate
	url = https://github.com/yandex-ui/ckeditor-translate.git
