[submodule "plugins/imgresize"]
	path = plugins/imgresize
	url = git@github.com:Katochimoto/ckeditor-imgresize.git
[submodule "plugins/autolink2"]
	path = plugins/autolink2
	url = git@github.com:Katochimoto/ckeditor-autolink2.git
[submodule "plugins/openlink"]
	path = plugins/openlink
	url = git@github.com:Katochimoto/ckeditor-openlink.git
[submodule "plugins/xss"]
	path = plugins/xss
	url = git@github.com:Katochimoto/ckeditor-xss.git
[submodule "plugins/exbutton"]
	path = plugins/exbutton
	url = git@github.com:Katochimoto/ckeditor-exbutton.git
[submodule "plugins/divareasb"]
	path = plugins/divareasb
	url = git@github.com:Katochimoto/ckeditor-divareasb.git
[submodule "plugins/pastefile"]
	path = plugins/pastefile
	url = git@github.com:Katochimoto/ckeditor-pastefile.git
[submodule "plugins/quotebreak"]
	path = plugins/quotebreak
	url = git@github.com:Katochimoto/ckeditor-quotebreak.git
